/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.klasa {
  color: red;
  transform: scale(5);
}

.btn {
  margin-right: 10px;
}

.popover-wrapper {
  padding: 10px;
  border-radius: 4px;
}